<!DOCTYPE html>
<html dir="rtl" lang="ar">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wail Skanderi</title>

</head>

<body class="rtl home blog" ng-controller="WelcomeCtrl">
<div id="fly-wrap">
    <div class="fly-menu-close">
        <button class="menu-toggle" title="القائمة">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div><!-- .fly-menu-close -->
    <div class="fly-wrap-out">
        <div class="fly-side-wrap">
            <div class="fly-bottom-soc">
                <div id="mobile-social-icons">

                    <a href="#" target="_blank" class="fa fa-facebook"></a>

                    <a href="#" target="_blank" class="fa fa-twitter"></a>

                    <a href="#" target="_blank" class="fa fa-google-plus"></a>

                    <a href="#" target="_blank" class="fa fa-instagram"></a>

                    <a href="#" target="_blank" class="fa fa-pinterest"></a>

                    <a href="#" target="_blank" class="fa fa-youtube"></a>


                </div><!-- #mobile-social-icons -->
            </div>
        </div><!--fly-side-wrap-->
        <div class="fly-wrap-in">
            <div id="fly-menu-wrap">
                <nav class="fly-nav-menu left relative">
                    <div class="menu-%d8%a7%d9%84%d8%b1%d8%a6%d9%8a%d8%b3%d9%8a%d8%a9-container">
                        <ul id="primary-menu" class="menu">
                            <li id="menu-item-59"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a
                                    href="#">مميزات القالب</a></li>
                            <li id="menu-item-60"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60">
                                <a href="#">تصنيفات</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-63"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63">
                                        <a href="#">صحة</a></li>
                                    <li id="menu-item-64"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-64">
                                        <a href="#">تاريخ</a></li>
                                    <li id="menu-item-65"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-65">
                                        <a href="#">فيديو</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-61"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61"><a
                                    href="#">قواالب مدفوعة</a></li>
                            <li id="menu-item-62"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a
                                    href="#/">قوالب وورد بريس</a></li>
                            <li id="menu-item-66"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66"><a
                                    href="#">شراء القالب</a></li>
                        </ul>
                    </div>
                </nav>
            </div><!--fly-menu-wrap-->
        </div><!--fly-wrap-in-->
    </div><!--fly-wrap-out-->
</div><!--fly-wrap-->
<div id="page" style="margin-bottom: 30px;" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#content">التجاوز الى المحتوى</a>

    <header id="masthead" class="site-header" role="banner">
        <!-- Display a logo with a big size -->

        <!-- Display the navigation bar -->
        <div class="inner-wrapper clear">
            <div class="navigation-content">
                <button class="menu-toggle" title="القائمة">
                    <span class="screen-reader-text">القائمة</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <!--  Display a small logo inside navigation -->
                <div class="site-branding small-logo small-logo-active">
                    <a class="site-logo" href="index.html" title="قالب مجلة برو" rel="home">
                        <img src="assets/uploads/logo.png" width="181" alt="" style="margin-top: 16px;"
                             class="no-grav header-image"/>
                    </a>
                </div><!-- .site-branding -->


                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <div class="menu-%d8%a7%d9%84%d8%b1%d8%a6%d9%8a%d8%b3%d9%8a%d8%a9-container">
                        <ul id="primary-menu" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a
                                    href="#">الرئيسية</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a
                                    href="#">من نحن</a></li>

                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a
                                    href="#">اتصل بنا</a></li>


                        </ul>
                    </div>
                </nav><!-- #site-navigation -->

                <div id="search-button" title="أيقونة البحث">
                    <i class="fa fa-search"></i>
                    <span class="screen-reader-text">أيقونة البحث</span>
                </div><!--search-button-->

                <div id="header-social-icons">

                    <a href="#" target="_blank" class="fa fa-facebook"><span>فايس بوك</span></a>

                    <a href="#" target="_blank" class="fa fa-twitter"><span>تويتر</span></a>

                    <a href="#" target="_blank" class="fa fa-google-plus"><span>جوجل بلس</span></a>

                    <a href="#" target="_blank" class="fa fa-instagram"><span>انستاغرام</span></a>

                    <a href="#" target="_blank" class="fa fa-pinterest"><span>بنترست</span></a>

                    <a href="#" target="_blank" class="fa fa-youtube"><span>يوتيوب</span></a>


                </div><!-- #header-social-icons -->
                <div id="search-bar">
                    <form role="search" method="get" class="search-form"
                          action="#">
                        <label>
                            <span class="screen-reader-text">البحث عن:</span>
                            <input type="search" class="search-field" placeholder="بحث &hellip;" value="" name="s"/>
                        </label>
                        <input type="submit" class="search-submit" value="بحث"/>
                    </form>
                </div><!--search-bar-->
            </div><!-- .navigation-content -->
        </div><!-- .inner-wrapper -->


    </header><!-- #masthead -->

    <!-- Display slider and call to action area under the navigation bar -->

    <section class="header-bottom">
        <div id="header-slider">


            <div class="slick-slide"
                 style="background-image:url(assets/uploads/sites/12/2015/07/69983ad8830c3b38373879b22837053c-660x400.jpg);">
                <a href="#" rel="bookmark">


                    <div class="text-box">

                        <h3>علوم</h3>

                        <h2>تشريد الذهن: كيف تتغلب عليه وتقوي قدرات التركيز لديك أثناء العمل؟!</h2>

                        <div class="featured-excerpt">

                            <p>يعاني الكثير من الناس من مشكلة ضعف التركيز لديهم، مما يؤثر سلباً على أدائهم الفكري
                                وعملهم، وعلى حياتهم بشكل عام. وخاصةً...</p>

                        </div><!--featured-excerpt-->

                    </div><!--featured-text-->

                </a>

            </div>


            <div class="slick-slide"
                 style="background-image:url(assets/uploads/sites/12/2015/07/9ae1446aef336ac19b9de711e9e00223-660x400.jpg);">
                <a href="#" rel="bookmark">


                    <div class="text-box">

                        <h3>تربية</h3>

                        <h2>كيف تساعد أولادك على مواجهة الخوف.. وإطلاق العنان لإبداعهم</h2>

                        <div class="featured-excerpt">

                            <p>من منا لا يريد ﻷولاده أن يكبروا شجعاناً غير هيابين وﻻ جبناء، مقدامين وحازمين، ﻻ يترددون
                                وﻻ يتعثرون في أمر من...</p>

                        </div><!--featured-excerpt-->

                    </div><!--featured-text-->

                </a>

            </div>


            <div class="slick-slide"
                 style="background-image:url(assets/uploads/sites/12/2015/07/854a363d1f6a6b4da4a265fb76d4fab6-660x400.jpg);">
                <a href="#" rel="bookmark">


                    <div class="text-box">

                        <h3>العمل الحر</h3>

                        <h2>6 عوامل أدت إلى انتشار ثقافة العمل الحر عربياً</h2>

                        <div class="featured-excerpt">

                            <p>يُعدّ العمل الحر أحد الثقافات الشائعة مؤخراً في الوطن العربي، نظراً للعديد من المميزات
                                التي تناسب المستقلين وأصحاب المشاريع على حدٍ...</p>

                        </div><!--featured-excerpt-->

                    </div><!--featured-text-->

                </a>

            </div>


            <div class="slick-slide"
                 style="background-image:url(assets/uploads/sites/12/2015/07/8c73761559b46b49299c2344e5ea4923-660x400.jpg);">
                <a href="#" rel="bookmark">


                    <div class="text-box">

                        <h3>تاريخ</h3>

                        <h2>مخطوطة سيرافيني.. الكتاب الأغرب والأكثر غموضاً على مر التاريخ !</h2>

                        <div class="featured-excerpt">

                            <p>نُدرك جميعاً عندما يقوم الكاتب بتأليف كتابٍ ما فهو يُحاول من خلال كتابه هذا أن يُعالج
                                مُشكلةً، أو يبحث في موضوع معين، أو...</p>

                        </div><!--featured-excerpt-->

                    </div><!--featured-text-->

                </a>

            </div>


            <div class="slick-slide"
                 style="background-image:url(assets/uploads/sites/12/2015/07/100-free-pics-084--660x400.jpg);">
                <a href="#" rel="bookmark">

                    <span class="thumb-icon"><i class="fa fa-star"></i></span>
                    <div class="text-box">

                        <h3>علوم</h3>

                        <h2>أخطاء التفكير القاتلة التي يجب أن ننتبه لها</h2>

                        <div class="featured-excerpt">

                            <p>التفكير هو الوظيفة الأساسية لـعقل الإنسان، وهو الوسيلة التي يستخدمها من أجل إبداع الحلول
                                وتطوير نمط الحياة التي يعيشها . كما...</p>

                        </div><!--featured-excerpt-->

                    </div><!--featured-text-->

                </a>

            </div>


        </div><!--#header-slider-->

        <script>
            jQuery(document).ready(function () {

                jQuery('#header-slider').slick({
                    rtl: true,
                    dots: false,
                    infinite: true,
                    speed: 2000,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    arrows: false,
                    responsive: [
                        {
                            breakpoint: 1120,
                            settings: {
                                arrows: false,
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                infinite: true,
                                autoplay: true,
                                dots: false,
                                autoplaySpeed: 2000,
                            }
                        },
                        {
                            breakpoint: 490,
                            settings: {
                                arrows: false,
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                infinite: true,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            }
                        }
                    ]
                });

            });
        </script>

        <div id="callaction">
            <div class="callaction">
                <div class="call-action-content clear">
                    <div class="call-action-txt"><span>هذه منطقة خاصة لحث الزوار على القيام بإجراء معين</span></div>
                    <div class="call-action-but"><a href="#%20">أنقر هنا </a>
                    </div>
                </div><!--.call-action-content-->
            </div><!--.callaction-->
        </div>
    </section><!-- .header-bottom -->

    <div id="content" class="site-content">


        <div id="widget_feat_posts-3" class="widget widget_widget_feat_posts">
            <div id="top-story-wrapper" class="clear">
                <div id="top-story-contain">
                    <div id="top-story-middle">
                        <div class="middle-content">
                            <div id="middle-img">

                                <a href="#" rel="bookmark">
                                    <div class="top-middle-image">
                                        <img width="660" height="400"
                                             src="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg"
                                             class="attachment-post-thumb size-post-thumb wp-post-image" alt=""
                                             srcset="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 400w, assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 660w, assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 270w"
                                             sizes="(max-width: 660px) 100vw, 660px"/>
                                    </div><!--top-middle-image-->
                                    <div id="middle-text">
                                        <h3>فيديو</h3>
                                        <h2>فيديو ملهم: قوانين الحياة</h2>
                                        <p>نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص
                                            تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي نص تجريبي
                                            نص...</p>
                                    </div><!--middle-text-->
                                </a>
                            </div><!--middle-img-->
                        </div><!--middle-content-->
                    </div><!--top-story-middle-->
                    <div id="top-story-left">
                        <span class="top-header-contain"><h3>أنترنت</h3></span>
                        <ul class="top-stories">

                            <li ng-repeat="article in articles | limitTo:3" data-ng-if="article.categorie == 'أنترنت'">
                                <a href="#" rel="bookmark">
                                    <div class="top-story-image"
                                         style="background-image:url({{article.pic}});">

                                    </div><!--top-story-image-->
                                    <h2>{{article.title}}</h2>
                                </a>
                            </li>

                        </ul>
                    </div><!--top-story-left-->
                </div><!--top-story-contain-->
                <div id="top-story-right">
                    <span class="top-header-contain"><h3>ويندوز</h3></span>
                    <ul class="top-stories">

                        <li ng-repeat="article in articles | limitTo:3" data-ng-if="article.categorie == 'ويندوز'">
                            <a href="#" rel="bookmark">
                                <div class="top-story-image"
                                     style="background-image:url({{article.pic}});">

                                </div><!--top-story-image-->
                                <h2>{{article.title}}</h2>
                            </a>
                        </li>

                    </ul>
                </div><!--top-story-right-->
            </div><!-- #top-story-wrapper -->

        </div>

        <aside id="header-ad" class="widget widget_text">
            <div class="textwidget"><a href="#"><img src="assets/uploads/sites/12/2017/01/ad728.gif"></a>
            </div>
        </aside>
        <div id="featured-post" class="clear" ng-repeat="article in articles" data-ng-if="article.featured == 'true'">
            <article id="post-9"
                     class="featured-post clear post-9 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-5 tag-6 tag-8 tag-7">
                <a href="#" rel="bookmark">
                    <div class="img-box">
                        <figure class="feat-entry-thumbnail">
                            <img ng-src="{{article.pic}}"
                                 alt="أخطاء التفكير القاتلة التي يجب أن ننتبه لها"/>
                        </figure>
                        <noscript>
                            <figure class="entry-thumbnail"><img width="660" height="400"
                                                                 ng-src="{{article.pic}}"
                                                                 class="attachment-post-thumb size-post-thumb wp-post-image"
                                                                 alt=""
                                                                 /></figure>
                        </noscript>


                        <div class="featured-tri">
                            <span class="tri"></span>
                        </div>
                    </div>
                    <div class="content-box">

                        <h2 class="entry-title">{{article.title}}</h2>

                        <p>التفكير هو الوظيفة الأساسية لـعقل الإنسان، وهو الوسيلة التي يستخدمها من أجل إبداع الحلول
                            وتطوير نمط الحياة التي يعيشها . كما أنّ التفكير هو الوسيلة لحل المشكلات الصغيرة التي تواجهنا
                            في حياتنا اليومية ،...</p>

                    </div><!-- content-box-->
                </a>

            </article><!-- #post-## -->

        </div><!-- #featured-post -->

        <div class="inner-wrapper clear">
            <div id="primary" class="content-area">
                <main id="main" class="site-main clear" role="main">


                    <div class="categories-boxes clear">

                        <div id="widget_posts_home_list_2c-2" class="widget widget_widget_posts_home_list_2c clear">
                            <h3 class="home-widget-title">مقالات تقنية</h3>

                            <div>

                                <article id="post-43"
                                         class="twocol post-43 post type-post status-publish format-image has-post-thumbnail hentry category-5 tag-8 post_format-post-format-image"  ng-repeat="article in articles">
                                    <a href="#" rel="bookmark" >
                                        <div class="img-box">
                                            <figure class="entry-thumbnail">
                                                <img ng-src="{{article.pic}}"
                                                     alt="تشريد الذهن: كيف تتغلب عليه وتقوي قدرات التركيز لديك أثناء العمل؟!"/>
                                            </figure>
                                            <noscript>
                                                <figure class="entry-thumbnail"><img width="400" height="242"
                                                                                     ng-src="{{article.pic}}"
                                                                                     class="attachment-medium-thumb size-medium-thumb wp-post-image"
                                                                                     alt=""
                                                                                     sizes="(max-width: 400px) 100vw, 400px"/>
                                                </figure>
                                            </noscript>


                                        </div><!-- .img-box -->

                                        <div class="content-box">
                                            <div class="col-md-8 col-md-offset-2">
                                            <div class="entry-meta clear">
                                                <span class="byline"><i class="fa fa-user"></i>{{article.writer}}</span>
                                                | <span class="posted-on"><i class="fa fa-clock-o"></i><time
                                                    class="entry-date published updated"
                                                    datetime="2015-07-02T01:25:36+00:00"> {{article.date}}</time></span>
                                            </div></div>

                                            <h2 class="entry-title" style="text-align: center;">{{article.title}}</h2>


                                        </div><!-- content-box-->

                                    </a>
                                </article><!-- #post-## -->

                            </div>

                        </div>

                    </div>


                </main>
            </div>

            <div id="secondary" class="widget-area clear" role="complementary">
                <aside id="social-widget-3" class="widget widget_social-widget">
                    <span class="title-bg"><h3 class="widget-title">تجدنا أيضا هنا !</h3></span>
                    <div id="social-icons">

                        <a href="#" target="_blank" class="fa fa-facebook"><span>فايس بوك</span></a>

                        <a href="#" target="_blank" class="fa fa-twitter"><span>تويتر</span></a>

                        <a href="#" target="_blank" class="fa fa-google-plus"><span>جوجل بلس</span></a>

                        <a href="#" target="_blank" class="fa fa-instagram"><span>انستاغرام</span></a>

                        <a href="#" target="_blank" class="fa fa-pinterest"><span>بنترست</span></a>

                        <a href="#" target="_blank" class="fa fa-youtube"><span>يوتيوب</span></a>


                    </div>

                </aside>
                <!--<aside id="widget_posts_list_big-3" class="widget widget_widget_posts_list_big">
                    <span class="title-bg"><h3 class="widget-title">أبرز الأخبار</h3></span>

                    <div>
                        <article id="post-9"
                                 class="post-9 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-5 tag-6 tag-8 tag-7">
                            <a href="#" rel="bookmark">
                                <div class="img-box">
                                    <figure class="entry-thumbnail">
                                        <img src="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg"
                                             data-src="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg"
                                             alt="أخطاء التفكير القاتلة التي يجب أن ننتبه لها"/>
                                    </figure>
                                    <noscript>
                                        <figure class="entry-thumbnail"><img width="400" height="242"
                                                                             src="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg"
                                                                             class="attachment-medium-thumb size-medium-thumb wp-post-image"
                                                                             alt=""
                                                                             srcset="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 400w, assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 660w, assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg 270w"
                                                                             sizes="(max-width: 400px) 100vw, 400px"/>
                                        </figure>
                                    </noscript>

                                    <span class="thumb-icon"><i class="fa fa-star"></i></span>
                                </div>
                                <div class="content-box">

                                    <h2 class="entry-title">أخطاء التفكير القاتلة التي يجب أن ننتبه لها</h2>

                                </div>
                            </a>

                        </article>

                    </div>

                </aside>-->

                <aside id="widget_posts_list_small-3" class="widget widget_widget_posts_list_small">
                    <span class="title-bg"><h3 class="widget-title">مواضيع هامة</h3></span>

                    <ul>
                        <li>
                            <article id="post-27"
                                     class="post-27 post type-post status-publish format-standard has-post-thumbnail hentry category-2 tag-18 tag-17">
                                <a href="#" class="clear" rel="bookmark">
                                    <figure class="entry-thumbnail">
                                        <img src="assets/uploads/sites/12/2015/07/100-free-pics-049-660x400.jpg"
                                             data-src="assets/uploads/sites/12/2015/07/d05d4d18093e0ce2c5d1c44dc2df90a6-270x164.jpg"
                                             alt="ماذا يحدث لجسم الإنسان عند البقاء لفترة طويلة بدون طعام أو ماء؟!"/>
                                    </figure>
                                    <noscript>
                                        <figure class="entry-thumbnail"><img width="270" height="164"
                                                                             src="assets/uploads/sites/12/2015/07/d05d4d18093e0ce2c5d1c44dc2df90a6-270x164.jpg"
                                                                             class="attachment-small-thumb size-small-thumb wp-post-image"
                                                                             alt=""
                                                                             srcset="assets/uploads/sites/12/2015/07/d05d4d18093e0ce2c5d1c44dc2df90a6-270x164.jpg 270w, assets/uploads/sites/12/2015/07/d05d4d18093e0ce2c5d1c44dc2df90a6-660x400.jpg 660w, assets/uploads/sites/12/2015/07/d05d4d18093e0ce2c5d1c44dc2df90a6-400x242.jpg 400w"
                                                                             sizes="(max-width: 270px) 100vw, 270px"/>
                                        </figure>
                                    </noscript>

                                    <h2 class="entry-title">ماذا يحدث لجسم الإنسان عند البقاء لفترة طويلة بدون طعام أو
                                        ماء؟!</h2>

                                </a>

                            </article><!-- #post-## -->

                        </li>

                    </ul>

                </aside>

            </div><!-- #secondary -->
        </div><!-- .inner-wrapper -->
    </div><!-- #content -->
</div>
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="inner-content">
        <nav id="site-navigation" class="footer-navigation" role="navigation">
            <div class="menu-%d8%a7%d9%84%d8%b1%d8%a6%d9%8a%d8%b3%d9%8a%d8%a9-container">
                <ul id="secondary-menu" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61"><a
                            href="#">الرئيسية</a></li>

                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61"><a
                            href="#">اتصل بنا</a></li>

                </ul>
            </div>
        </nav><!-- #site-navigation

            <aside id="footer-ad" class="widget widget_text">
                <div class="textwidget"><a href="https://www.ar-themes.com/"><img
                        src="assets/uploads/sites/12/2015/07/banner.jpg"></a></div>
            </aside>-->

        <div id="footer-widgets">
            <div class="clear">
                <div class="footer-widget">
                    <aside id="text-7" class="widget widget_text"><h2 class="widget-title">Lipsum Lorem</h2>
                        <div class="textwidget">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.


                        </div>
                    </aside>
                </div> <!-- // .footer-widget -->
                <div class="footer-widget">
                    <aside id="tag_cloud-2" class="widget widget_tag_cloud"><h2 class="widget-title">أبرز
                        المواضيع</h2>
                        <div class="tagcloud"><a href='#'
                                                 class='tag-link-22 tag-link-position-1' title='موضوع واحد'
                                                 style='font-size: 8pt;'>اخلاق</a>
                            <a href='#'
                               class='tag-link-24 tag-link-position-2' title='موضوع واحد'
                               style='font-size: 8pt;'>الحياة</a>
                            <a href='#'
                               class='tag-link-13 tag-link-position-3' title='موضوع واحد' style='font-size: 8pt;'>العمل
                                الحر</a>
                            <a href='#'
                               class='tag-link-14 tag-link-position-4' title='موضوع واحد'
                               style='font-size: 8pt;'>المال</a>
                            <a href='#'
                               class='tag-link-25 tag-link-position-5' title='موضوع واحد'
                               style='font-size: 8pt;'>الهام</a>
                            <a href='#'
                               class='tag-link-6 tag-link-position-6' title='موضوع واحد'
                               style='font-size: 8pt;'>ثقافة</a>
                            <a href='#'
                               class='tag-link-8 tag-link-position-7' title='5 موضوعات'
                               style='font-size: 22pt;'>سلايدر</a>
                            <a href='#'
                               class='tag-link-18 tag-link-position-8' title='موضوع واحد'
                               style='font-size: 8pt;'>سمنة</a>
                            <a href='#' class='tag-link-4 tag-link-position-9'
                               title='موضوع واحد' style='font-size: 8pt;'>صحة</a>
                            <a href='#' class='tag-link-17 tag-link-position-10'
                               title='موضوع واحد' style='font-size: 8pt;'>صخة</a>
                            <a href='#' class='tag-link-7 tag-link-position-11'
                               title='موضوع واحد' style='font-size: 8pt;'>فكر</a>
                            <a href='#'
                               class='tag-link-10 tag-link-position-12' title='موضوع واحد'
                               style='font-size: 8pt;'>كتاب</a>
                        </div>
                    </aside>
                </div> <!-- // .footer-widget -->
                <div class="footer-widget">
                    <aside id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">قائمة
                        التصنيفات</h2>
                        <div class="menu-%d9%81%d9%88%d8%aa%d8%b1-container">
                            <ul id="menu-%d9%81%d9%88%d8%aa%d8%b1" class="menu">
                                <li id="menu-item-55"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-55">
                                    <a href="#">علوم</a></li>
                                <li id="menu-item-56"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-56">
                                    <a href="#">تاريخ</a></li>
                                <li id="menu-item-57"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-57">
                                    <a href="#">العمل الحر</a></li>
                                <li id="menu-item-58"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-58">
                                    <a href="#">صوت</a></li>
                            </ul>
                        </div>
                    </aside>
                </div> <!-- // .footer-widget -->                    </div>
        </div> <!-- #footer-widgets -->

        <a href="#top" id="smoothup"><i class="fa fa-angle-up"></i></a>

        <div class="site-info clear">
            <div id="copyright">

                &copy; 2017
            </div>
        </div><!-- .site-info -->
    </div><!-- .inner-content-->
</footer><!-- #colophon -->
</div><!-- #page -->


</body>

</html>
